@{
    ViewBag.Title = "Form6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<label for="file">Progreso:</label>
<progress id="file" max="0" value="0"></progress>
<label class="file" for="file">0%</label>
<br />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <!-- left column -->
            <div class="col-md-8">
                <!-- jquery validation -->
                <div class="card">

                    <div class="card-1">
                        <img class="Cabecera" src="~/Imagenes/CabeFidu.PNG" />
                    </div>
                    <div class="card-header">
                        <h3 class="card-title">Proceso No Exitoso.</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <center>
                                        <label style="font-size:20px"><b>Proceso finalizado.</b></label>
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <img class="imgvig" src="~/Imagenes/VigilFidu.PNG" />
                                    <img class="imglog" src="~/Imagenes/LogoFiducolmenaColor.PNG" />
                                </div>
                                <div class="col-12">
                                    <p class="acompa">Fiduciaria Colmena S A administra los recursos en la etapa de preventas La obligación de la Fiduciaria es de medio y no de resultado.</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- /.card -->
                </div>

            </div>

        </div>
    </div>
</section>




